# Local .terraform directories
.terraform/
.terraform.lock.hcl

# Local state files
*.tfstate
*.tfstate.*
*.tfstate.backup

# Crash logs
crash.log
crash.*.log

# Exclude sensitive variable values file
terraform.tfvars
*.auto.tfvars

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json
